@import "tailwindcss";
* {
  scroll-margin-top: 100px;
}
:root {
  --primary: #f97b48;
  --surface: #f9fbfc;
  --background: #fff8e4;
  --foreground: #000000;
  --border: #000000;
}
html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@theme inline {
  --color-primary: var(--primary);
  --color-surface: var(--surface);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);

  --font-sans: var(--font-roboto);
  --font-mono: var(--font-roboto-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}

/* layout check */
.test {
  border: solid 2px black;
}
/* basic styles */
nav {
  font-size: 20px;
  font-weight: 500;
}
.specialText {
  font-size: 80px;
  font-family: var(--font-rubik-mono-one);
}
h1 {
  font-size: 54px;
  font-weight: 600;
}
.h1 {
  font-size: 54px;
  font-weight: 600;
}

h2 {
  font-size: 36px;
  font-weight: 500;
}
.h2 {
  font-size: 36px;
  font-weight: 500;
}

h3 {
  font-size: 30px;
  font-weight: 500;
}

h4 {
  font-size: 24px;
  font-weight: 500;
}

p {
  font-size: 16px;
  font-weight: 460;
}
.smallText {
  font-size: 14;
  font-weight: normal;
}

.button {
  font-size: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 28px;
  background-color: var(--color-primary);
  border: var(--border) solid 1px;
  border-left: var(--border) solid 2px;
  border-bottom: var(--border) solid 2px;
  border-radius: 4px;
}
.button-surface {
  font-size: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 28px;
  background-color: var(--color-surface);
  border: var(--border) solid 1px;
  border-left: var(--border) solid 2px;
  border-bottom: var(--border) solid 2px;
  border-radius: 4px;
}
label {
  font-weight: 500;
}
input,
textarea {
  border: var(--border) solid 1px;
  border-left: var(--border) solid 2px;
  border-bottom: var(--border) solid 2px;
  border-radius: 4px;
}
@media (max-width: 768px) {
  .specialText {
    font-size: 60px;
    font-family: var(--font-rubik-mono-one);
  }
  h1 {
    font-size: 32px;
    font-weight: 600;
  }
  .h1 {
    font-size: 32px;
    font-weight: 500;
  }

  h2 {
    font-size: 30px;
    font-weight: 500;
  }
  .h2 {
    font-size: 30px;
    font-weight: 500;
  }

  h3 {
    font-size: 26px;
    font-weight: 500;
  }

  h4 {
    font-size: 21px;
    font-weight: 500;
  }

  p {
    font-size: 16px;
    font-weight: 460;
  }

  li {
    font-size: 17px;
    font-weight: 500;
  }

  button {
    font-size: 18px;
    font-weight: 500;
  }
}

button:hover {
  cursor: pointer;
}
.theme-border {
  border: var(--border) solid 1px;
  border-left: var(--border) solid 2px;
  border-bottom: var(--border) solid 2px;
  border-radius: 4px;
}
.theme-border-rounded {
  border: var(--border) solid 1px;
  border-bottom: var(--border) solid 2px;
  border-radius: 6px;
}

#hero {
  background-image: url("../assets/images/backgroundImages/test.svg");
}
